.Search {
   display block
   justify-content center
   align-items: center
  }

.Search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  border: 2;
  border-color: #33b1ff;
}
.Search-bar .input-text {
  border-color: rgba(65,137,230,.15); 
  height: 20px;
  padding: 5px 5px 5px 10px;
  width: 300px
}

.Search-bar .icon {
  cursor: pointer;
  position: center ;
  top: 0;
  bottom: 30%;
  left: 0;
  padding: 10px 10px 10px 10px;
}
.Search-bar .Search-button {
  background-color: #fff;
  border: none;
}